server:
  port: 8082

spring:
  application:
    name: user-service
  config:
    import: optional:configtree:/run/secrets/

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER_USER}
    password: ${DB_USER_PASSWORD}

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate